* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body p {
  font-size: 15px;
}

nav.menu {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 0 4vw;
  margin-bottom: 4rem;
  min-height: 100vh;
  min-width: 325px;
  width: 100%;
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 3.5rem;
}

.logo-icon img {
  height: 30px;
  width: auto;
}

.menu-icon img {
  cursor: pointer;
}

div.menu-icon:hover {
  opacity: 0.5;
}

.main-container .hero,
.hero-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

h1.hero-title {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.1;
}

p.hero-text {
  color: #C5C6CE;
  line-height: 1.75;
}

button.hero-button {
  border: none;
  background-color: #F15E50;
  text-transform: uppercase;
  font-weight: 800;
  width: 50%;
  padding: 1rem;
  letter-spacing: 3px;
  
}

.main-container .news {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5rem 1.25rem;
  color: #FFFFFF;
  background-color: #000000;
}

h2.news-header {
  color: #E9AB53;
  margin-bottom: 2rem;
}

.news p {
  color: #C5C6CE;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.article-divider {
  border: none;
  margin: 2rem 0;
  background-color: #C5C6CE;
  height: 0.25px;
}

.main-container .best-articles {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.best-articles article {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

img.article-image {
  width: auto;
  height: 125px;
  flex-shrink: 0;
}

.article-content {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 125px;
}

strong.article-item {
  color: #F15E50;
  font-size: 1.75rem;
  font-weight: 700;
}

h4.article-title {
  font-weight: 800;
}

p.article-text {
  color: #C5C6CE;
  line-height: 1.5;
  margin: auto 0;
}

/* Fixed layout width (550px) for screens 600px-1023px; only margins expand */
@media (min-width: 600px) and (max-width: 1023px) {
  body {
    padding: 0;
  }

  .main-container, header {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
  }
}

/* Styles for desktop screens (≥1024px) */
@media (min-width: 1024px) {
  header .menu-icon,
  header .sidebar-close-icon {
    display: none;
  }

}
