/* Styles for mobile screens (≥325px) */
@media (min-width: 325px) {
  /* main layout for mobile */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

  body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding: 0 4vw;
    margin-bottom: 1.5rem;
    min-height: 100vh;
    min-width: 325px;
    width: 100%;
  }

  body p {
    font-size: 15px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
  }

  header button {
    border: none;
    background: none;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    list-style: none;
  }
  
  .main-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 3.5rem;
  }

  /* header styles */
  .logo-icon img {
    height: 30px;
    width: auto;
  }

  .menu a {
    text-decoration: none;
    color: #C5C6CE;
  }

  .menu a:hover {
    color: #F15E50;
  }

  /* hero section styles */
  .hero-image img {
    width: 100%;
  }

  .main-container .hero,
  .hero-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  h1.hero-title {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1.1;
  }

  p.hero-text {
    color: #C5C6CE;
    line-height: 1.75;
  }

  button.hero-button {
    border: none;
    background-color: #F15E50;
    text-transform: uppercase;
    font-weight: 800;
    width: 50%;
    padding: 1rem;
    letter-spacing: 3px;
    cursor: pointer;
  }

  button.hero-button:hover {
    color: white;
    background-color: black;
  }

  /* news section styles */
  .main-container .news {
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem 1.25rem;
    color: #FFFFFF;
    background-color: #000000;
  }

  .news h2 {
    color: #E9AB53;
    margin-bottom: 2rem;
  }

  .news p {
    color: #C5C6CE;
    line-height: 1.5;
    margin-top: 0.5rem;
  }

  .news-item a {
    text-decoration: none;
    color: white;
  }

  .news-item a:hover {
    color: #E9AB53;
  }

  hr.article-divider {
    border: none;
    margin: 2rem 0;
    background-color: #C5C6CE;
    height: 0.25px;
  }

  /* best articles section styles */
  .main-container .best-articles {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .best-articles article {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  img.article-image {
    width: auto;
    height: 125px;
    flex-shrink: 0;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 125px;
  }

  strong.article-item {
    color: #F15E50;
    font-size: 1.75rem;
    font-weight: 700;
  }

  h4.article-title {
    font-weight: 800;
    cursor: pointer;
  }

  h4.article-title:hover {
    color: #F15E50;
  }

  p.article-text {
    color: #C5C6CE;
    line-height: 1.5;
    margin: auto 0;
  }

  /* -------------------------------------------------------------------------------------------------------- */
  /* mobile side menu */
  @media (max-width: 599px) {
    nav.menu.open {
      display: flex;
      flex-direction: column;

      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: min(75%, 300px);
      background-color: white;

      padding: 2rem;
    }

    .menu a {
      font-size: 1.5rem;
    }
  }

  .side-menu-close-icon,
  .side-menu-open-icon {
    cursor: pointer;
  }

  .side-menu-open-icon:hover,
  .side-menu-close-icon:hover {
    opacity: 0.5;
  }

  .side-menu-close-icon {
    align-self: flex-end;
    margin-bottom: min(7rem, 10vh);
    cursor: pointer;
  }

}

/* -------------------------------------------------------------------------------------------------------- */
/* Display desktop-style nav for ≥600px screens */
@media (min-width: 600px) {
  header .side-menu-open-icon,
  header .side-menu-close-icon {
    display: none;
  }

  nav.menu {
    display: flex;
  }

  .menu ul {
    flex-direction: row;
    gap: 1rem;
  }
}

/* -------------------------------------------------------------------------------------------------------- */
/* Fixed layout width (550px) for screens 600px-1023px; only margins expand */
@media (min-width: 600px) and (max-width: 1023px) {
  body {
    padding: 0;
  }

  .main-container, .header {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
  }
}

/* -------------------------------------------------------------------------------------------------------- */
/* Styles for desktop screens (≥1024px) */
@media (min-width: 1024px) {
/* main layout for desktop */
  body {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  body p {
    font-size: 16px;
  }

  .header,
  .main-container {
    min-width: 960px;
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
  }

  nav.menu {
    gap: 3vw;
  }

  .menu a {
    font-size: 1.25rem;
  }

  .main-container {
   display: grid;
   grid-template-areas:
                        "main  main  aside"
                        "cards cards cards";
  grid-template-columns: 1fr 1fr minmax(350px, 1fr);
  grid-template-rows: auto auto;
  column-gap: 2rem;
  }

  .main-container .hero {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 1.5rem;
  }

  /* hero section styles */
  h1.hero-title {
    font-size: clamp(2.75rem, 3.5vw, 3.5rem);
  }

  .hero-image {
    grid-column: span 2;
  }

  /* news section styles */
  .main-container .news {
    grid-area: aside;
    align-items: center;
  }

  .news * {
    width: 325px;
    margin: auto auto;
  }

  .news h2 {
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin-bottom: 2rem;
  }

  /* best articles section styles */
  .main-container .best-articles {
    grid-area: cards;
    flex-flow: row nowrap;
    gap: 0.75rem;
    justify-content: space-between;
  }

  .best-articles article {
    flex: 1;
    min-width: 312px;
    max-width: 400px;
  }

  .hero-content {
    justify-content: space-between;
  }

  button.hero-button {
    min-width: 150px;
  }
}
