/* global properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* screen reader class*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* custom properties */
:root {
  --font-family-primary: "Inter", sans-serif;

  --bg-color-primary: #FFFEFC;
  --bg-color-dark: #00000D;
  --bg-color-button: #F15E50;
  --bg-color-button-hover: #000000;

  --color-text-primary: #66677A;
  --color-text-secondary: #C9C9CE;
  --color-text-news-title: #FFFFFF;
  --color-article-accent: #F15E50;
  --color-text-hover: #E9AB53;
  --color-text-button: #000000;
  --color-text-button-hover: #FFFFFF;

  --color-divider: #66677A;
}
/* --------------------------------------------------------------------- */
/* Styles for mobile screens (≥325px) */
@media (min-width: 325px) {
  /* main layout for mobile */
  body {
    background-color: var(--bg-color-primary);
    font-family: var(--font-family-primary);
    font-weight: 400;
    padding: 0 4vw;
    margin-bottom: 1.5rem;
    min-height: 100vh;
    min-width: 325px;
    width: 100%;
  }

  body p {
    font-size: 15px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
  }

  header button {
    border: none;
    background: none;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    list-style: none;
  }

  .main-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 3.5rem;
  }

  /* header styles */
  .logo-icon img {
    height: 30px;
    width: auto;
  }

  .nav-list a {
    text-decoration: none;
    color: var(--color-text-primary);
  }

  .nav-list a:hover {
    color: var(--color-text-hover);
  }

  /* hero section styles */
  .hero-image img {
    width: 100%;
  }

  .main-container .hero,
  .hero-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  h1.hero-title {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1.1;
  }

  p.hero-text {
    color: var(--color-text-primary);
    line-height: 1.75;
  }

  a.hero-link {
    text-decoration: none;
    color: var(--color-text-button);
    text-align: center;
    border: none;
    background-color: var(--bg-color-button);
    text-transform: uppercase;
    font-weight: 800;
    min-width: 170px;
    width: 50%;
    padding: 1rem;
    letter-spacing: 3px;
    cursor: pointer;
  }

  a.hero-button:hover {
    color: var(--color-text-button-hover);
    background-color: var(--bg-color-button-hover);
  }

  /* news section styles */
  .main-container .news {
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem 1.25rem;
    background-color: var(--bg-color-dark);
  }

  .news h2 {
    color: var(--color-text-hover); /*??????*/
    margin-bottom: 2rem;
  }

  .news p {
    color: var(--color-text-secondary);
    line-height: 1.5;
    margin-top: 0.5rem;
  }

  .news-title-link {
    text-decoration: none;
    color: var(--color-text-news-title);
  }

  .news-item a:hover {
    color: var(--color-text-hover);
  }

  hr.article-divider {
    border: none;
    margin: 2rem 0;
    background-color: var(--color-divider);
    height: 0.25px;
  }

  /* best articles section styles */
  .main-container .best-articles {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .best-articles article {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  img.article-image {
    width: auto;
    height: 125px;
    flex-shrink: 0;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 125px;
  }

  span.article-item {
    color: var(--color-article-accent);
    font-size: 1.75rem;
    font-weight: 700;
  }

  .article-link {
    text-decoration: none;
    color: unset;
    font-weight: 800;
    cursor: pointer;
  }

  .article-link:hover {
    color: var(--color-article-accent);
  }

  p.article-text {
    color: var(--color-text-primary);
    line-height: 1.5;
    margin: auto 0;
  }

  /* -------------------------------------------------------------------------------------------------------- */
  /* mobile side menu */
  @media (max-width: 599px) {
    nav.menu.open {
      display: flex;
      flex-direction: column;

      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: min(75%, 300px);
      background-color: var(--bg-color-primary);

      padding: 2rem;
    }

    .menu a {
      font-size: 1.5rem;
    }
  }

  .side-menu-close-icon,
  .side-menu-open-icon {
    cursor: pointer;
  }

  .side-menu-open-icon:hover,
  .side-menu-close-icon:hover {
    opacity: 0.5;
  }

  .side-menu-close-icon {
    align-self: flex-end;
    margin-bottom: min(7rem, 10vh);
    cursor: pointer;
  }
}
/* -------------------------------------------------------------------------------------------------------- */
/* Display desktop-style nav for ≥600px screens */
@media (min-width: 600px) {
  header .side-menu-open-icon,
  header .side-menu-close-icon {
    display: none;
  }

  nav.menu {
    display: flex;
  }

  .menu ul {
    flex-direction: row;
    gap: 1rem;
  }
}

/* -------------------------------------------------------------------------------------------------------- */
/* Fixed layout width (550px) for screens 600px-1023px; only margins expand */
@media (min-width: 600px) {
  body {
    padding: 0;
  }

  .main-container, .header {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
  }
}

/* -------------------------------------------------------------------------------------------------------- */
/* Styles for desktop screens (≥1024px) */
@media (min-width: 1024px) {
/* main layout for desktop */
  body {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  body p {
    font-size: 16px;
  }

  .header,
  .main-container {
    min-width: 960px;
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
  }

  nav.menu {
    gap: 3vw;
  }

  .menu a {
    font-size: 1.25rem;
  }

  .main-container {
   display: grid;
   grid-template-areas:
                        "main  main  aside"
                        "cards cards cards";
  grid-template-columns: 1fr 1fr minmax(350px, 1fr);
  grid-template-rows: auto auto;
  column-gap: 2rem;
  }

  .main-container .hero {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 1.5rem;
  }

  /* hero section styles */
  .hero-image {
    grid-column: span 2;
  }
  
  h1.hero-title {
    font-size: clamp(3rem, 3.5vw, 3.5rem);
  }

  .hero-content {
    justify-content: space-between;
  }

  /* news section styles */
  .main-container .news {
    grid-area: aside;
    align-items: center;
  }

  .news * {
    width: 325px;
    margin: auto auto;
  }

  .news h2 {
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin-bottom: 2rem;
  }

  /* best articles section styles */
  .main-container .best-articles {
    grid-area: cards;
    flex-flow: row nowrap;
    gap: 0.75rem;
    justify-content: space-between;
  }

  .best-articles article {
    flex: 1;
    min-width: 312px;
    max-width: 400px;
  }

}
